# Hands-on: Linking Tables (Lab2)

## Goals

We'll take data that was extracted from two different booksellers by students, and try to see which is cheaper.  This requires that we can match the books to compare prices!

## The Data

Data is from the Magellan project, collected by Prof. AnHai Doan and his group.  We'll be looking at Barnes and Noble vs. Amazon.

In [ ]:
# Core Magellan libraries, for string similarity
# !pip3 install py_stringsimjoin

In [ ]:
import pandas as pd

# Approximate string matching
# import py_stringsimjoin as ssj
# import py_stringmatching as sm

# Part 1. Loading

### 1.1 Reading Barnes and Noble

In [ ]:
#### 1a

# TODO: load http://pages.cs.wisc.edu/~anhai/data/784_data/books4/csv_files/barnes_and_noble.csv and inspect it
path = 'http://pages.cs.wisc.edu/~anhai/data/784_data/books4/csv_files/barnes_and_noble.csv'
nobel_df = pd.read_csv(path)

In [ ]:
nobel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9958 entries, 0 to 9957
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  9958 non-null   int64
 1   Title               9955 non-null   object
 2   Author              9951 non-null   object
 3   Hardcover           1146 non-null   object
 4   Paperback           6270 non-null   object
 5   NOOK_Book           5921 non-null   object
 6   Audiobook           106 non-null    object
 7   ISBN_13_DUMMY       9952 non-null   float64
 8   ISBN_13             9958 non-null   object
 9   Series              3064 non-null   object
 10  Publisher           9948 non-null   object
 11  Publication_Date    0 non-null      float64
 12  Sales_rank          9232 non-null   object
 13  Pages               7940 non-null   float64
 14  Product_dimensions  6837 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 1.1+ MB

In [ ]:
# for i in nobel_df.Publication_Date.unique():
#   print(i)
print(nobel_df.Publication_Date.unique())

# Drop Publication_Date column as all the values are null

nobel_df.drop(['Publication_Date'],axis=1, inplace = True)

[nan]

### 1.2 Reading Amazon

In [ ]:
#### 1b

# TODO: load and display http://pages.cs.wisc.edu/~anhai/data/784_data/books4/csv_files/amazon.csv
amazon_path = 'http://pages.cs.wisc.edu/~anhai/data/784_data/books4/csv_files/amazon.csv'
amazon_df = pd.read_csv(amazon_path)
amazon_df.head()

,ID,Title,Author,Price,Edition,ASIN,ISBN_13,ISBN_10,Paperback,Series,...,Publication_Date,Sold_by,Language,Product Dimensions,Shipping Weight,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,1,Steve Jobs: A Biography,Walter Isaacson,$29.00,NaN,NaN,978-0002160636,2160633,NaN,NaN,...,NaN,NaN,Chinese,8.6 x 6.1 x 2.1 inches,2.7 pounds,NaN,NaN,NaN,NaN,NaN
1,2,Introduction to Control System Technology,Robert N. Bateson,$10.00,4th Edition,NaN,978-0023064630,23064633,NaN,NaN,...,NaN,NaN,English,1.2 x 7.5 x 9 inches,3 pounds,NaN,NaN,NaN,NaN,NaN
2,3,Computer Assisted Structural Analysis and Mode...,Marc Ira Hoit,$20.64,1st Edition,NaN,978-0023559723,23559721,NaN,NaN,...,NaN,NaN,English,1 x 7.8 x 9.8 inches,2 pounds,NaN,NaN,NaN,NaN,NaN
3,4,Computer Numerical Control Programming of Mach...,Larry D. Horath,$0.20 - $141.40,1st Edition,NaN,978-0023572012,23572019,268 pages,NaN,...,NaN,NaN,English,6.4 x 0.7 x 9.5 inches,14.6 ounces (View shipping rates and policies),NaN,NaN,NaN,NaN,NaN
4,5,Pascal Programming and Problem Solving,Sanford Leestma# Larry Nyhoff,$24.98 - $186.80,4th Edition,NaN,978-0023887314,23887311,969 pages,NaN,...,NaN,NaN,English,6.8 x 2 x 9.9 inches,3.4 pounds (View shipping rates and policies),NaN,NaN,NaN,NaN,NaN

### 1.3 Simple cleaning

Are there rows that seem completely useless?  Clean them.

In [ ]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8639 entries, 0 to 8638
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8639 non-null   int64
 1   Title               8506 non-null   object
 2   Author              8502 non-null   object
 3   Price               8510 non-null   object
 4   Edition             6700 non-null   object
 5   ASIN                1807 non-null   object
 6   ISBN_13             5377 non-null   object
 7   ISBN_10             5377 non-null   object
 8   Paperback           3477 non-null   object
 9   Series              2791 non-null   object
 10  Publisher_dummy     6181 non-null   object
 11  Publisher           6181 non-null   object
 12  Publication_Date    1752 non-null   object
 13  Sold_by             1752 non-null   object
 14  Language            7124 non-null   object
 15  Product Dimensions  5352 non-null   object
 16  Shipping Weight     5373 non-null   object
 17  Unnamed: 17         0 non-null      float64
 18  Unnamed: 18         0 non-null      float64
 19  Unnamed: 19         26 non-null     object
 20  Unnamed: 20         3 non-null      object
 21  Unnamed: 21         1 non-null      object
dtypes: float64(2), int64(1), object(19)
memory usage: 1.5+ MB

In [ ]:
# Copy amazon data frame into new variable to drop not required columns

amazon_df_v1 = amazon_df

In [ ]:
# Filter and drop all unnamed columns


for c in amazon_df_v1.columns:
  if "unnamed" in c.lower() :
    amazon_df_v1.drop([str(c)],axis=1,inplace = True)
    print(c)
amazon_df_v1.columns

Unnamed: 17
Unnamed: 18
Unnamed: 19
Unnamed: 20
Unnamed: 21

Index(['ID', 'Title', 'Author', 'Price', 'Edition', 'ASIN', 'ISBN_13',
       'ISBN_10', 'Paperback', 'Series', 'Publisher_dummy', 'Publisher',
       'Publication_Date', 'Sold_by', 'Language', 'Product Dimensions',
       'Shipping Weight'],
      dtype='object')

In [ ]:
# amazon_df_v1[['ISBN_13']].isnull().sum()
amazon_df_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8639 entries, 0 to 8638
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8639 non-null   int64
 1   Title               8506 non-null   object
 2   Author              8502 non-null   object
 3   Price               8510 non-null   object
 4   Edition             6700 non-null   object
 5   ASIN                1807 non-null   object
 6   ISBN_13             5377 non-null   object
 7   ISBN_10             5377 non-null   object
 8   Paperback           3477 non-null   object
 9   Series              2791 non-null   object
 10  Publisher_dummy     6181 non-null   object
 11  Publisher           6181 non-null   object
 12  Publication_Date    1752 non-null   object
 13  Sold_by             1752 non-null   object
 14  Language            7124 non-null   object
 15  Product Dimensions  5352 non-null   object
 16  Shipping Weight     5373 non-null   object
dtypes: int64(1), object(16)
memory usage: 1.1+ MB

In [ ]:
#### 1c

# TODO: clean up any rows that seem to be all nulls

## Based on ISBN_13 I have to join further so I can drop the row which has ISBN_13 record is null


amazon_df_v1.dropna(subset=['ISBN_13'], inplace = True)
amazon_df_v1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5377 entries, 0 to 8221
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5377 non-null   int64
 1   Title               5377 non-null   object
 2   Author              5373 non-null   object
 3   Price               5377 non-null   object
 4   Edition             4568 non-null   object
 5   ASIN                48 non-null     object
 6   ISBN_13             5377 non-null   object
 7   ISBN_10             5377 non-null   object
 8   Paperback           3477 non-null   object
 9   Series              2791 non-null   object
 10  Publisher_dummy     5376 non-null   object
 11  Publisher           5376 non-null   object
 12  Publication_Date    0 non-null      object
 13  Sold_by             0 non-null      object
 14  Language            5372 non-null   object
 15  Product Dimensions  5351 non-null   object
 16  Shipping Weight     5372 non-null   object
dtypes: int64(1), object(16)
memory usage: 756.1+ KB

# Part 2. Record Linking by Join

Now we want to compare prices, between Barnes and Noble and Amazon.

How do we best link what's in these tables, to do the comparison?

We'll try various options.

## 2.1. Join based on ISBN-13.

Let's first try the most obvious thing, which is to join based on the ISBN-13 numbers.

In [ ]:
nobel_df.columns

Index(['ID', 'Title', 'Author', 'Hardcover', 'Paperback', 'NOOK_Book',
       'Audiobook', 'ISBN_13_DUMMY', 'ISBN_13', 'Series', 'Publisher',
       'Sales_rank', 'Pages', 'Product_dimensions'],
      dtype='object')

In [ ]:
amazon_df_v1.columns

Index(['ID', 'Title', 'Author', 'Price', 'Edition', 'ASIN', 'ISBN_13',
       'ISBN_10', 'Paperback', 'Series', 'Publisher_dummy', 'Publisher',
       'Publication_Date', 'Sold_by', 'Language', 'Product Dimensions',
       'Shipping Weight'],
      dtype='object')

In [ ]:
#### 2a

# TODO: join bn_books_df on ISBN_13.  Output
# the ISBN, title, author, prices

# Join nobel_df with amazon_df_v1 using ISBN_13 column

# nobel_df.ISBN_13.unique()
# amazon_df_v1.ISBN_13.unique()

merge_df = nobel_df[['ISBN_13','Title', 'Author']].merge(amazon_df_v1[['ISBN_13', 'Price']]
                                                                  , left_on = ['ISBN_13']
                                                                  , right_on = ['ISBN_13'], how='left', indicator = True)
print(merge_df.shape)
merge_df

(9958, 5)

,ISBN_13,Title,Author,Price,_merge
0,978-1935589679,A Guide to the Project Management Body of Know...,Project Management Institute,NaN,left_only
1,978-1491947173,Windows 10: The Missing Manual,David Pogue,NaN,left_only
2,978-0988262508,"The Phoenix Project: A Novel about IT, DevOps,...",Gene Kim# Kevin Behr# George Spafford,NaN,left_only
3,978-1594205552,Reclaiming Conversation: The Power of Talk in ...,Sherry Turkle,NaN,left_only
4,978-1476791616,A Work in Progress,Connor Franta,NaN,left_only
...,...,...,...,...,...
9953,294-0012362599,Articles Into Videos,Anonymous,NaN,left_only
9954,978-1605207247,Red Hot Internet Publicity,Penny C. Sansevieri,NaN,left_only
9955,978-1600595806,Creative Optical & Digital Filter Techniques,Joseph R. Meehan,NaN,left_only
9956,294-0151569019,Blog Business,Mark Twain,NaN,left_only
9957,978-1430258247,Beginning Sensor Networks with Arduino and Ras...,Charles Bell,$17.27,both

In [ ]:
merge_df[~(merge_df['Price'].isnull())].count().sum() ## Filter and count not null Price column values

2460

### How many missing ISBNs?

The above looks good, but are we missing things because of null values?

In [ ]:
#### 2b

# TODO: count number of nulls for ISBN_13 in Barnes and Noble

nobel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9958 entries, 0 to 9957
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  9958 non-null   int64
 1   Title               9955 non-null   object
 2   Author              9951 non-null   object
 3   Hardcover           1146 non-null   object
 4   Paperback           6270 non-null   object
 5   NOOK_Book           5921 non-null   object
 6   Audiobook           106 non-null    object
 7   ISBN_13_DUMMY       9952 non-null   float64
 8   ISBN_13             9958 non-null   object
 9   Series              3064 non-null   object
 10  Publisher           9948 non-null   object
 11  Sales_rank          9232 non-null   object
 12  Pages               7940 non-null   float64
 13  Product_dimensions  6837 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 1.1+ MB

In [ ]:
# nobel_df[nobel_df['ISBN_13'].isnull()].count()

nobel_df[['ISBN_13']].isnull().sum() ## There are Zero null values of a column
# nobel_df.shape

ISBN_13    0
dtype: int64

In [ ]:
#### 2c

# TODO: count number of nulls for ISBN_13 in Amazon
amazon_df = pd.read_csv(amazon_path)

amazon_df[amazon_df['ISBN_13'].isnull()].count().sum()

23419

## 2.2. Join based on Title.

Let's try a more tolerant join.

In [ ]:
#### 2d

# TODO: join bn_books_df on Title.  Output
# the ISBN, title, author, prices

# Join nobel_df with amazon_df_v1 using ISBN_13 column


title_merge_df = nobel_df[['ISBN_13','Title','Author']].merge(amazon_df[['Title','Price']]
                                                              , left_on = ['Title']
                                                              , right_on = ['Title']
                                                              , how = 'left'
                                                              , indicator = True)

title_merge_df[title_merge_df['_merge'] == 'both'].count().sum() ## We con consider this records are common

2863

In [ ]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8639 entries, 0 to 8638
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8639 non-null   int64
 1   Title               8506 non-null   object
 2   Author              8502 non-null   object
 3   Price               8510 non-null   object
 4   Edition             6700 non-null   object
 5   ASIN                1807 non-null   object
 6   ISBN_13             5377 non-null   object
 7   ISBN_10             5377 non-null   object
 8   Paperback           3477 non-null   object
 9   Series              2791 non-null   object
 10  Publisher_dummy     6181 non-null   object
 11  Publisher           6181 non-null   object
 12  Publication_Date    1752 non-null   object
 13  Sold_by             1752 non-null   object
 14  Language            7124 non-null   object
 15  Product Dimensions  5352 non-null   object
 16  Shipping Weight     5373 non-null   object
 17  Unnamed: 17         0 non-null      float64
 18  Unnamed: 18         0 non-null      float64
 19  Unnamed: 19         26 non-null     object
 20  Unnamed: 20         3 non-null      object
 21  Unnamed: 21         1 non-null      object
dtypes: float64(2), int64(1), object(19)
memory usage: 1.5+ MB

In [ ]:
nobel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9958 entries, 0 to 9957
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  9958 non-null   int64
 1   Title               9955 non-null   object
 2   Author              9951 non-null   object
 3   Hardcover           1146 non-null   object
 4   Paperback           6270 non-null   object
 5   NOOK_Book           5921 non-null   object
 6   Audiobook           106 non-null    object
 7   ISBN_13_DUMMY       9952 non-null   float64
 8   ISBN_13             9958 non-null   object
 9   Series              3064 non-null   object
 10  Publisher           9948 non-null   object
 11  Publication_Date    0 non-null      float64
 12  Sales_rank          9232 non-null   object
 13  Pages               7940 non-null   float64
 14  Product_dimensions  6837 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 1.1+ MB